<div class="small-12, column">
Question Details:

<h1><%= @question.title %>:</h1>

<p><%= @question.description %></p>

<%= link_to 'Edit this question', edit_question_path(@question) %>

<% @question.responses.sort_by(&:created_at).reverse.each do |response| %>
<li><%= response.description %></li>
<%= link_to 'edit this response', edit_response_path(response) %>
<% end %>

<h1>Add a response</h1>
<%= form_for [@question, @response] do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Add Response" %>
<% end %>

<%= link_to 'Back to questions', questions_path %>
</div>
<br><br><br><br><br>
<%= link_to 'Delete this question',
  question_path(@question.id),
  method: :delete %>
